<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">[[#{app.title}]]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/app.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/js/app.js}" defer></script>
</head>
<body>
    <header class="bg-light">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-md">
                <a th:href="@{/}" class="navbar-brand">
                    <img th:src="@{/images/logo.png}" th:alt="#{app.title}" width="30" height="30" class="d-inline-block align-top">
                    <span class="ps-1">[[#{app.title}]]</span>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                        th:aria-label="#{navigation.toggle}" aria-controls="navbarToggle" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <ul class="navbar-nav ms-auto">
                        <li class="navbar-item"><a th:href="@{/}" class="nav-link">[[#{navigation.home}]]</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main class="my-5">
        <div class="container">
            <p th:if="${MSG_SUCCESS}" class="alert alert-success mb-4" role="alert">[[${MSG_SUCCESS}]]</p>
            <p th:if="${MSG_INFO}" class="alert alert-info mb-4" role="alert">[[${MSG_INFO}]]</p>
            <p th:if="${MSG_ERROR}" class="alert alert-danger mb-4" role="alert">[[${MSG_ERROR}]]</p>

            <!-- Formulário para adicionar um novo local -->
            <div class="mb-4">
                <h2>[[#{local.novo.local}]]</h2>
                <form th:action="@{/local/adicionar}" method="post">
                    <div class="mb-3">
                        <label for="nome" class="form-label">[[#{local.novo.nome}]]</label>
                        <input type="text" id="nome" name="nome" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-primary">[[#{projeto.botao.adicionar}]]</button>
                </form>
            </div>

            <!-- Tabela de locais -->
            <div>
                <h2>[[#{local.tabela.lista}]]</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>[[#{local.tabela.id}]]</th>
                            <th>[[#{local.tabela.nome}]]</th>
                            <th class="acoes"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aqui você pode iterar sobre a lista de locais -->
                        <tr th:each="local : ${locais}">
                            <td th:text="${local.id}">ID</td>
                            <td th:text="${local.nome}">Nome</td>

                            <td class="acoes">
                                <a href="#" class="btn btn-primary btn-sm"
                                   data-bs-toggle="modal" data-bs-target="#myModal"
                                   th:attr="data-id=${local.id}">[[#{projeto.botao.editar}]]
                                </a>
                                
                                <a href="#" class="btn btn-danger btn-sm"
                                   data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                                   th:data-id="${local.id}">[[#{projeto.botao.excluir}]]
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal de edição -->
            <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">[[#{local.modal.editar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editLocalForm" th:action="@{/local/editar}" method="post">
                                <input type="hidden" id="localId" name="id">
                                <div class="mb-3">
                                    <label for="localNome" class="form-label">[[#{local.modal.editar.nome}]]</label>
                                    <input type="text" id="localNome" name="nome" placeholder="Digite o nome do local" class="form-control" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">[[#{projeto.botao.cancelar}]]</button>
                            <button type="submit" class="btn btn-primary" form="editLocalForm">[[#{projeto.botao.salvar}]]</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de confirmação de exclusão -->
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteModalLabel">[[#{projeto.botao.excluir.confirmar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            [[#{local.modal.excluir.confirmar}]]
                        </div>
                        <div class="modal-footer">
                            <form id="deleteForm" method="post">
                                <input type="hidden" id="localIdToDelete" name="id">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">[[#{projeto.botao.cancelar}]]</button>
                                <button type="submit" class="btn btn-danger">[[#{projeto.botao.excluir}]]</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer class="footer bg-light py-3">
        <div class="container text-center">
            <span class="text-muted">© 2024 EcoSynergy. Todos os direitos reservados.</span>
        </div>
    </footer>
</body>
</html>
